spec:
  inputs:
    mode:
      description: "Choose DEPLOY_MODE: deploy or rollback"
      type: string
      default: "deploy"
      options: ["deploy", "rollback"]
    tag:
      description: "Give me tag for rollback"
      type: string
      default: ""
    tests:
      description: "Run tests?"
      type: boolean
      default: true
---

stages:
  - lint-tf
  - validate
  - plan
  - apply
  - destroy
  - lint-app
  - build
  - test
  - prepare
  - deploy
  - rollback
  - notify

workflow:
  rules:
    - if: '$CI_COMMIT_MESSAGE =~ /\[infra\]/'
    - if: '$CI_COMMIT_MESSAGE =~ /\[destroy\]/'
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$DEPLOY_MODE == "deploy"'
    - if: '$DEPLOY_MODE == "rollback"'
    - when: never
workflow:
  rules:
    - if: '$CI_COMMIT_MESSAGE =~ /\[infra\]/'
      variables:
        PIPELINE_TYPE: "infra"
        DEPLOY_MODE: "deploy"
     
    - if: '$CI_COMMIT_MESSAGE =~ /\[destroy\]/'
      variables:
        PIPELINE_TYPE: "destroy"
        DEPLOY_MODE: ""
    
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_COMMIT_MESSAGE !~ /\[infra\]/ && $CI_COMMIT_MESSAGE !~ /\[destroy\]/'
      variables:
        PIPELINE_TYPE: "deploy"
        DEPLOY_MODE: "deploy"
        
    - if: '$DEPLOY_MODE == "deploy"'
      variables:
        PIPELINE_TYPE: "deploy"
    
    - if: '$DEPLOY_MODE == "rollback"'
      variables:
        PIPELINE_TYPE: "rollback"
        DEPLOY_MODE: "rollback"
    
    - when: never


variables:
  TAG: $[[ inputs.tag ]]
  RUN_TESTS: $[[ inputs.tests ]]
  DEPLOY_MODE: $[[ inputs.mode ]]

include:
  - local: 'deployment/infra.yml'
  - local: 'deployment/deploy.yml'