stages:
  - app-lint
  - docker-lint
  - build
  - test
  - deploy

variables:
  REGISTRY: https://index.docker.io/v1/
  REPO: ivankhodyrev/bookstore-app
  REPO_USER: ivankhodyrev
  TAG: ${CI_COMMIT_SHORT_SHA}

linter-app:job:
  stage: app-lint
  image: python:3.12-slim
  before_script:
    - pip install pylint
  script:
    - pylint ./app
  allow_failure: true
  tags:
    - runner

linter-docker:job:
  stage: docker-lint
  image: hadolint/hadolint:latest-debian
  script:
    - hadolint Dockerfile
  allow_failure: true
  tags:
    - runner

build:job:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"$REGISTRY\":{\"username\":\"$REPO_USER\",\"password\":\"$TOKEN\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context=$CI_PROJECT_DIR --dockerfile=$CI_PROJECT_DIR/Dockerfile --destination=${REPO}:${TAG}
  tags:
    - runner

test:job:
  stage: test
  image: python:3.12-slim
  before_script:
    - pip install pytest
  script:
    - pytest ./app/tests_app.py > test_result
  artifacts:
    paths:
      - test_result
  tags:
    - runner

#notify:job:
#  stage: notify
#  image: curlimages/curlimages
#  before_script:
#    - export URL=${API_URL}
#    - export TEXT="Deploy Project: "