image:
  name: hashicorp/terraform:1.6
  entrypoint:
    - "/usr/bin/env"
    - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

.ssh_setup: &ssh_setup
  - apk update && apk add openssh-client rsync bash --no-cache
  - eval "$(ssh-agent -s)"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cat $SSH_KEY > ~/.ssh/id_ed25519
  - chmod 600 ~/.ssh/id_ed25519
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

.terraform-init: &terraform-init
  - terraform version
  - cat $terraformrc > ~/.terraformrc
  - terraform -chdir=$DIR init -backend-config="access_key=$YC_ACCESS_KEY" -backend-config="secret_key=$YC_SECRET_KEY"



stages:
  - linting
  - validate
  - plan
  - apply

variables:
  DIR: "terraform"
  PLAN_FILE: "deploy.tfplan-${CI_COMMIT_SHORT_SHA}"
  API_URL: "https://api.telegram.org/bot$TELEGRAM_BOT_TOKEN/sendMessage"
  TF_VAR_yc_token: $YC_TOKEN
  TF_VAR_folder_id: $YC_FOLDER_ID

linter:job:
  stage: linting
  image:
    name: ghcr.io/terraform-linters/tflint
    entrypoint:
    - "/usr/bin/env"
    - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  script:
    - |
      cd ${DIR}
      terraform init -backend=false
      tflint
      terraform fmt -recursive
  allow_failure: true
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"        
  tags:
    - runner

validate:job:
  stage: validate
  before_script:
    - *ssh_setup
    - *terraform-init
  script:
    - terraform -chdir=$DIR validate
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"
  tags:
    - runner

plan:job:
  stage: plan
  before_script:
    - apk update && apk add ansible coreutils bash curl
    - *ssh_setup
    - *terraform-init
    - curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash -s -- -i ./ -n 
    - cp ./bin/yc /usr/bin
  script:
    - terraform -chdir=$DIR plan -out ${PLAN_FILE}
  artifacts:
    paths:
      - ${DIR}/${PLAN_FILE}
      - .terraform.lock.hcl
    expire_in: 1 hour
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"
  tags:
    - runner

apply:job:
  stage: apply
  dependencies: ["plan"]
  before_script:
    - apk update && apk add ansible coreutils bash curl
    - *ssh_setup
    - *terraform-init
    - curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash -s -- -i ./ -n 
    - cp ./bin/yc /usr/binL}
  script:
    - terraform -chdir=$DIR apply -input=false ${PLAN_FILE}
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual      
  tags:
    - runner