spec:
  inputs:
    mode:
      description: "Choose DEPLOY_MODE: deploy or rollback"
      type: string
      default: "deploy"
      options: ["deploy", "rollback", "apply", "destroy"]
    tag:
      description: "Give me tag for rollback"
      type: string
      default: ""
---

variables:
  TAG: $[[ inputs.tag ]]
  DEPLOY_MODE: $[[ inputs.mode ]]

include:
  - local: 'deployment/infra.yml'
  - local: 'deployment/deploy.yml'