spec:
  inputs:
    deploy_mode:
      description: "Choose DEPLOY_MODE: deploy or rollback"
      type: string
      default: ""
      options: ["deploy", "rollback"]
    infra_mode:
      description: "Choose DEPLOY_MODE: deploy or rollback"
      type: string
      default: ""
      options: ["apply", "destroy"]
    tag:
      description: "Give me tag for rollback"
      type: string
      default: ""
---

stages:
  - lint-tf
  - validate
  - plan
  - apply
  - destroy
  - run-deploy
  - lint-app
  - build
  - test
  - prepare
  - deploy
  - rollback
  - notify

variables:
  TAG: $[[ inputs.tag ]]
  DEPLOY_MODE: $[[ inputs.deploy_mode ]]
  INFRA_MODE: $[[ inputs.infra_mode ]]

include:
  - local: 'deployment/infra.yml'
  - local: 'deployment/deploy.yml'