image:
  name: hashicorp/terraform:1.6
  entrypoint:
    - "/usr/bin/env"
    - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
    
spec:
  inputs:
    mode:
      description: "Choose DEPLOY_MODE: deploy or rollback"
      type: string
      default: "deploy"
      options: ["deploy", "rollback", "apply", "destroy"]
    tag:
      description: "Give me tag for rollback"
      type: string
      default: ""
---

stages:
  - lint-tf
  - validate
  - plan
  - apply
  - destroy
  - run-deploy
  - lint-app
  - build
  - test
  - prepare
  - deploy
  - rollback
  - notify

variables:
  TAG: $[[ inputs.tag ]]
  MODE: $[[ inputs.mode ]]

include:
  - local: 'deployment/infra.yml'
  - local: 'deployment/deploy.yml'