#SPDX-License-Identifier: MIT-0
---
# tasks file for install-docker
- name: Install deps
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes

- name: Add docker key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add docker repo
  apt_repository:
    repo: "deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    filename: docker
    update_cache: yes

- name: Install docker
  apt:
    name: docker-ce
    state: present
    default_release: "{{ ansible_distribution_release }}"

- name: Ensure docker is enabled
  systemd:
    name: docker
    enabled: yes
    state: restarted

